[Unit]
Description=Run My SVC Monitor

[Service]
EnvironmentFile=/home/jlindgren/git/tiny_projects/svc-monitor/svc-monitor.env
ExecStart=/home/jlindgren/git/tiny_projects/svc-monitor/svc-monitor
Type=oneshot
